/*  Fonts

font-family: 'Bebas Neue', sans-serif;
font-family: 'Rubik', sans-serif; */

header h1 {
    font-family: 'Bebas Neue';
    text-align: center;
    font-size: 5rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: rgb(55, 41, 38);
    font-size: 2rem;
}

.baner {
    background-image: url(./resources/images/baner.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}